.App {
    max-width: 1500px;
    margin: 0 auto;
}

.App .button {
    height: 24px;
    margin: 10px;
    padding: 10px 10px;
    background: #2196f3;
    color: white;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}

.App .card {
    margin: 10px;
    padding: 15px 10px;
    background: white;
    border: 1px solid #bcbcbc;
}

.App .embossed {
    height: 10px;
    margin: 10px;
    padding: 15px 10px;
    color: white;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.App .header {
    padding: 5px 10px;
    background: white;
    border-bottom: 2px solid #0069c0;
}

.App .drawer .panel{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

.App .drawer .container{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #424242;
    width: 240px;
    background-color: white;
    overflow-y: auto;
}

.App .drawer .heading {
    padding: 16px 8px 16px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.App .drawer .links {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.1s;
    cursor: pointer;
}

.App .drawer .links:hover {
    background-color: #f1f1f1;
}

.App .content {
    position:absolute;
    top: 120px;
    left:0px;
    right:0px;
    bottom: 0px;
    overflow-y:scroll;
}

.App .content .panel {
    position: fixed;
    height: 400px;
    width: 25%;
    border: none;
    border-left: 4px solid #555;
}

.App .content .view {
    display: flex;
    align-items: flex-end;
    margin-left: 30%;
}

@media screen and (max-width: 1000px) {
    .App .content .panel {
        width: 35%;
    }
    
    .App .content .view {
        margin-left: 42.5%;
    }
}

@media screen and (max-width: 500px) {
    .App .breadcrumbs {
        display: none;
    }
    
    .App .content .panel {
        display: none;
    }
    
    .App .content .view {
        margin: 5px;
    }
}
