.App {
    
}

.App .button {
    height: 24px;
    margin: 10px;
    padding: 15px 10px;
    background: #0069c0;
    color: white;
    border: 1px solid #bcbcbc;
}

.App .card {
    margin: 10px;
    padding: 15px 10px;
    background: white;
    border: 1px solid #bcbcbc;
}

.App .embossed {
    height: 10px;
    margin: 10px;
    padding: 15px 10px;
    color: white;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.App .container {
    display: flex;
    flex-wrap: wrap;
}

.App .container .nav {
    flex-grow: 3;
}

.App .wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 50px;
    grid-template-areas:
        "d n"
        "d v"
}

.App .wrapper .dashboard {
    grid-area: d;
}

.App .wrapper .navigation {
    grid-area: n;
}

.App .wrapper .view {
    grid-area: v;
}
