.App {
    max-width: 1500px;
    min-width: 300px;
    margin: 0 auto;
}

.App .button {
    height: 24px;
    margin: 10px;
    padding: 15px 10px;
    background: #0069c0;
    color: white;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}

.App .card {
    margin: 10px;
    padding: 15px 10px;
    background: white;
    border: 1px solid #bcbcbc;
}

.App .embossed {
    height: 10px;
    margin: 10px;
    padding: 15px 10px;
    color: white;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.App .header {
    padding: 15px 10px;
    background: white;
    border-bottom: 2px solid #0069c0;
}

.App > .wrapper {
    position:absolute;
    top: 105px;
    left:0px;
    right:0px;
    bottom: 0px;
    overflow-y:scroll;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 75px 500px;
    grid-template-areas:
        "d v"
        "n v";
}

.App .wrapper .dashboard {
    grid-area: d;
}

.App .wrapper .navigation {
    grid-area: n;
}

.App .wrapper .view {
    grid-area: v;
}

@media screen and (max-width: 1000px) {
    .App .wrapper {
        grid-template-columns: 35% 65%;
    }
}

@media screen and (max-width: 500px) {
    .App .breadcrumbs {
        display: none;
    }
    
    .App .wrapper {
        top: 82px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .App .wrapper .dashboard {
        width: 100%;
    }
    
    .App .wrapper .navigation {
        width: 100%;
    }
    
    .App .wrapper .view {
        width: 100%;
    }
}
