.Nav {
    
}

.Nav .container {
    display: flex;
    flex-direction: column;
}

.Nav .item {
    display: block;
    cursor: pointer;
    margin: 10px;
    padding: 5px 15px;
}

.Nav .item:hover {
    background: #f1f1f1;
    padding-bottom: 4px;
    border-bottom: 1px solid #0069c0;
}