.View {
    
}

.View .wrapper {
    display: grid;
    margin: 5px;
    padding: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 75px 175px;
    grid-template-areas:
        "t t t t . . . s s s s s"
        "w w w w . . . s s s s s"
        "d d d d d d . s s s s s";
}

.View .title {
    grid-area: t;
}

.View .welcome {
    grid-area: w;
}

.View .description {
    grid-area: d;
}

.View .slider {
    grid-area: s;
}