.Toolbar {
    
}

.Toolbar .container {
    display: flex;
    justify-content: space-between;
}

.Toolbar .container .panel {
    justify-content: space-around;
}

.Toolbar .container .menu {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.Toolbar .container .title {
    margin: 5px;
    padding: 3px;
}

@media screen and (max-width: 1000px) {
    .Toolbar .container .links {
        display: none;
    }
}