.Toolbar {
    flex-grow: 1;
}

.Toolbar .wrapper {
    display: grid;
    grid-template-columns: 68px 37.5% 47.5% 10%;
    grid-template-rows: 50px;
}

.Toolbar .wrapper .menu {
    padding: 5px 14px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .Toolbar .wrapper {
        display: grid;
        grid-template-columns: 68px 75% 10%;
        grid-template-rows: 50px;
    }
    
    .Toolbar .wrapper .links {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .Toolbar .wrapper {
        display: grid;
        grid-template-columns: 68px 30% 2% 55%;
        grid-template-rows: 50px;
    }
    
    .Toolbar .title {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .Toolbar .profile {
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 5;
        margin: 0 auto;
    }
}